{% load static %}


<!-- NAVIGATION -->
	<div id="navigation">

        <!-- container -->
		<div class="container">
			<div id="responsive-nav">


				<!-- category nav -->
				<div class="category-nav show-on-click">
					<a href="#"><span class="category-header">Категории<i class="fa fa-list"></i></span></a>
                    <ul class="category-list">

                        {% block parent_categories %}   
                        {% for category in parent_categories %}

						<li class="dropdown side-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">{{category}}<i class="fa fa-angle-right"></i></a>
                        <div class="custom-menu">
								<div class="row">
									<div class="col-md-4">
										<ul class="list-links">
											<li>
  												<h3 class="list-links-title">Категории</h3></li>

                                                {% for item in category.child.all %} 
                                                    <li><a href="{% url 'products' item.id %}">{{item}}</a></li>
                                                {% endfor %}   
     
										</ul>
										<hr class="hidden-md hidden-lg">
									</div>
								</div>
								<div class="row hidden-sm hidden-xs">
									<div class="col-md-12">
										
										<a class="banner banner-1" href="#">
											<div class="banner-caption text-center">
												<h2 class="white-color">NEW COLLECTION</h2>
												<h3 class="white-color font-weak">HOT DEAL</h3>
											</div>
										</a>
									</div>
								</div>
							</div>
						</li>

                    {% endfor %}
                    {% endblock %}

        			</ul>
				</div>
				<!-- /category nav -->

				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Меню<i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a href="#"></a></li>
						<li><a href="{% url 'about' %}">О нас</a></li>
                        <li><a href="{% url 'delivery' %}">Условия доставки</a></li>
                        <li><a href="{% url 'adress' %}">Адреса магазинов</a></li>
                        <li><a href="{% url 'refund' %}">Возврат</a></li>
					</ul>

				</div>
				<!-- menu nav -->

			</div>

		</div>
		<!-- /container -->

	</div>
	<!-- /NAVIGATION -->

