{% extends 'base.html' %}

{% load static %} 

{% block content %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="{% url 'home' %}">Главная</a></li>
				<li class="active">{{category}}</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
			</div>
					<!-- STORE -->
					<div id="store">
						<!-- row -->
						<div class="row">
							<!-- Product Single -->  
                            {% for toy_image in images_to_show %}
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="product product-single">
                                    <a href="{% url 'product' toy_image.product.id %}">
									<div class="product-thumb">
										<img src="{{toy_image.image.url}}" alt="">
									</div>
                                    </a>
									<div class="product-body">
                                        <h3 class="product-price">{{toy_image.product.price}} руб.</h3>
                                        <h2 class="product-name"><a href= "{% url 'product' toy_image.product.id %}">{{toy_image.product.name}}</a></h2>
										<div class="product-btns">
                                            <form method="post" id="{{toy_image.product.id}}" class="form-inline" action="{% url 'basket_adding' %}"> {% csrf_token %}
                     				            <button type="submit" id="submit_btn" class="primary-btn add-to-cart"
                                                    data-product_id = "{{toy_image.product.id}}"
                                                    data-product_name = "{{toy_image.product.name}}"
                                                    data-product_price = "{{toy_image.product.price}}"
                                                    data-img_url="{{toy_image.product.productimage_set}}"
                                                >
                                                <i class="fa fa-shopping-cart"></i> В корзину</button>
						                    </form>
										</div>
									</div>
								</div>
							</div>
                            {% endfor %}
							<!-- /Product Single -->

							<div class="clearfix visible-sm visible-xs"></div>
						</div>
						<!-- /row -->
					</div>
				</div>
				<!-- /MAIN -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}
